:root {
  --size: 30px;
  --ratio: 1.73205;
  --rotationConstant: 60deg;
  --speedConstant: 0.2s;
}

.container {
  margin: 100px 100px;
  width: 960px;
}

.triangle-up {
  position: absolute;
  height: 0;
  width: 0;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: calc(var(--size) * var(--ratio)) solid red;
}

.triangle-down {
  position: absolute;
  height: 0;
  width: 0;
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: calc(var(--size) * var(--ratio)) solid red;
}

.axis-base-left-up {
  transform-origin: 0% 100%;
  animation: var(--speedConstant) upToDown 1;
}

.axis-base-right-up {
  transform-origin: 100% 100%;
  animation: var(--speedConstant) upToDown 1;
}

.axis-vertex-up {
  transform-origin: 50% 0%;
  animation: var(--speedConstant) upToDown 1;
}

.axis-base-left-down {
  transform-origin: 0% 0%;
  animation: var(--speedConstant) downToUp 1;
}

.axis-base-right-down {
  transform-origin: 100% 0%;
  animation: var(--speedConstant) downToUp 1;
}

.axis-vertex-down {
  transform-origin: 50% 100%;
  animation: var(--speedConstant) downToUp 1;
}

@keyframes downToUp {
  from {transform: rotate(0deg);}
  to {transform: rotate(calc(0deg - var(--rotationConstant)));}
}

@keyframes upToDown {
  from {transform: rotate(0deg);}
  to {transform: rotate(var(--rotationConstant));}
}